{% extends 'base.html.twig' %}

{% block title %}Login and Register{% endblock %}

{% block body %}
    <h1>Login and Register</h1>

    {# Inclusion du formulaire de connexion #}
    <div id="login-form">
        {% include 'registration/register.html.twig' with {'error': error, 'last_username': last_username} %}
    </div>

    {# Inclusion du formulaire d'inscription #}
    <div id="register-form">
        {% include 'security/login.html.twig' with {'registrationForm': registrationForm} %}
    </div>
{% endblock %}